### Original data

In [1]:
from pathlib import Path

import requests
from tqdm import tqdm

import pandas as pd

In [2]:
ORIG_DATA_PATH = Path('./orig_data')

if not ORIG_DATA_PATH.exists():
    ORIG_DATA_PATH.mkdir(exist_ok=True)

urls = ['https://datasets.figure-eight.com/figure_eight_datasets/disaster_response_data/disaster_response_messages_training.csv',
        'https://datasets.figure-eight.com/figure_eight_datasets/disaster_response_data/disaster_response_messages_test.csv',
        'https://datasets.figure-eight.com/figure_eight_datasets/disaster_response_data/disaster_response_messages_validation.csv']

file_paths = [ORIG_DATA_PATH/'train_df.csv', 
              ORIG_DATA_PATH/'test_df.csv',
              ORIG_DATA_PATH/'valid_df.csv']

def download_file(url, file_path):
    r = requests.get(url)

    with open(file_path, 'w') as f:
        f.write(r.text[3:])
        
for url, file_path in tqdm(zip(urls, file_paths)):
    download_file(url, file_path)

3it [00:01,  1.87it/s]

In [3]:
dfs = []

for file_path in tqdm(file_paths):
    dfs.append(pd.read_csv(file_path))
    
full_df = pd.concat(dfs, axis=0)
full_df = full_df.drop('PII', axis=1)
print(full_df.shape)
full_df.head()

  0%|          | 0/3 [00:00<?, ?it/s]/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
100%|██████████| 3/3 [00:00<00:00, 13.77it/s]

(26248, 41)

,id,split,message,original,genre,related,request,offer,aid_related,medical_help,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,train,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,train,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
2,12,train,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14,train,Information about the National Palace-,Informtion au nivaux palais nationl,direct,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15,train,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [4]:
full_df.loc[:, 'related':'direct_report'].apply(pd.value_counts).T

                              0        1      2
related                  6125.0  19930.0  193.0
request                 21768.0   4480.0    NaN
offer                   26129.0    119.0    NaN
aid_related             15370.0  10878.0    NaN
medical_help            24161.0   2087.0    NaN
medical_products        24934.0   1314.0    NaN
search_and_rescue       25524.0    724.0    NaN
security                25777.0    471.0    NaN
military                25388.0    860.0    NaN
child_alone             26248.0      NaN    NaN
water                   24574.0   1674.0    NaN
food                    23318.0   2930.0    NaN
shelter                 23929.0   2319.0    NaN
clothing                25842.0    406.0    NaN
money                   25644.0    604.0    NaN
missing_people          25949.0    299.0    NaN
refugees                25372.0    876.0    NaN
death                   25052.0   1196.0    NaN
other_aid               22800.0   3448.0    NaN
infrastructure_related  24543.0   1705.0    NaN
transport               25045.0   1203.0    NaN
buildings               24913.0   1335.0    NaN
electricity             25714.0    534.0    NaN
tools                   26089.0    159.0    NaN
hospitals               25965.0    283.0    NaN
shops                   26128.0    120.0    NaN
aid_centers             25939.0    309.0    NaN
other_infrastructure    25097.0   1151.0    NaN
weather_related         18944.0   7304.0    NaN
floods                  24090.0   2158.0    NaN
storm                   23800.0   2448.0    NaN
fire                    25966.0    282.0    NaN
earthquake              23793.0   2455.0    NaN
cold                    25718.0    530.0    NaN
other_weather           24872.0   1376.0    NaN
direct_report           21167.0   5081.0    NaN

# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [106]:
# import libraries
from sqlalchemy import create_engine

import numpy as np

In [107]:
# load messages datase
messages = pd.read_csv('./messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [108]:
messages[messages.duplicated(keep=False)]

,id,message,original,genre
162,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
655,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
709,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
710,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
1407,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
1408,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
2130,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
2131,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
2792,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct
2793,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct
2824,3250,I thought you gave my number and this was seri...,Mwen tepanse le nou tebay nimewo a se yon afse...,direct
2825,3250,I thought you gave my number and this was seri...,Mwen tepanse le nou tebay nimewo a se yon afse...,direct
3373,3882,"I am in Carefour Feuilles, Dkayet neighborhood...",Mwen nan kafou fy zon dekayt nou beswen dlo po...,direct
3374,3882,"I am in Carefour Feuilles, Dkayet neighborhood...",Mwen nan kafou fy zon dekayt nou beswen dlo po...,direct
3851,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct
3852,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct
4340,4956,"What we saw yesterday is a sign, you need to k...",a nou w la yo se sign yoy ou bezwen kon sa Jez...,direct
4341,4956,"What we saw yesterday is a sign, you need to k...",a nou w la yo se sign yoy ou bezwen kon sa Jez...,direct
4521,5153,there are people in Delmas 32 who form an asso...,Ginyin yon paket moun delmas 32 ki forme organ...,direct
4522,5153,there are people in Delmas 32 who form an asso...,Ginyin yon paket moun delmas 32 ki forme organ...,direct
4629,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct
4630,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct
4892,5573,"If I would like to find a job in cepoz, what s...",Si mwen ta renmen jwen travay nan cepoz ki sa ...,direct
4893,5573,"If I would like to find a job in cepoz, what s...",Si mwen ta renmen jwen travay nan cepoz ki sa ...,direct
4950,5643,Good evening. we are writing to ask you for a ...,Bonswa nou ekri'w se pou nou mande'w yon ti d ...,direct
4951,5643,Good evening. we are writing to ask you for a ...,Bonswa nou ekri'w se pou nou mande'w yon ti d ...,direct
5071,5776,I would like some more informations about trav...,Mwen bezwen yon ti eksplikasyon konsne vwayaj ...,direct
5072,5776,I would like some more informations about trav...,Mwen bezwen yon ti eksplikasyon konsne vwayaj ...,direct
...,...,...,...,...
18248,21338,The Management Committee is composed of six me...,NaN,news
18901,22059,"Additionally, ointment to treat skin infection...",NaN,news
18902,22059,"Additionally, ointment to treat skin infection...",NaN,news
19624,22858,Any person who enters or exits at other points...,NaN,news
19625,22858,Any person who enters or exits at other points...,NaN,news
19753,23002,"After the 2011 elections, widespread rioting l...",NaN,news
19754,23002,"After the 2011 elections, widespread rioting l...",NaN,news
19958,23229,* German Agro Action (GAA) reported that in th...,NaN,news
19959,23229,* German Agro Action (GAA) reported that in th...,NaN,news
20875,24247,"As we approach Luabo, I get my first impressio...",NaN,news
20876,24247,"As we approach Luabo, I get my first impressio...",NaN,news
20965,24347,In response to North Korea's devastating artil...,NaN,news
20966,24347,In response to North Korea's devastating artil...,NaN,news
21358,24779,Shelter materials (thick polyesters) are being...,NaN,news
21359,24779,Shelter materials (thick polyesters) are being...,NaN,news
21360,24779,Shelter materials (thick polyesters) are being...,NaN,news
22027,25512,The flood situation has worsened with nearly 3...,NaN,news
22028,25512,The flood situation has worsened with nearly 3...,NaN,news
23609,27296,The regime says the charter will clear the way...,NaN,news
23610,27296,The regime says the charter will clear the way...,NaN,news
24039,27768,An EU-backed French offensive against rebels r...,NaN,news
24040,27768,An EU-backed French offensive against rebels r...,NaN,news
24647,28462,"To date, a total of 39 people suffering from E...",NaN,news
24648,28462,"To date, a total of 39 people suffering from E...",NaN,news
24855,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
24856,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
25155,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25156,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25241,29119,Most victims (90 per cent) show little or no s...,NaN,news
25242,29119,Most victims (90 per cent) show little or no s...,NaN,news

In [109]:
# load categories dataset
categories = pd.read_csv('./categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [110]:
categories[categories.duplicated(keep=False)]

          id                                         categories
655      804  related-2;request-0;offer-0;aid_related-0;medi...
656      804  related-2;request-0;offer-0;aid_related-0;medi...
2130    2446  related-1;request-0;offer-0;aid_related-0;medi...
2131    2446  related-1;request-0;offer-0;aid_related-0;medi...
2792    3217  related-1;request-1;offer-0;aid_related-1;medi...
2793    3217  related-1;request-1;offer-0;aid_related-1;medi...
3851    4412  related-1;request-1;offer-0;aid_related-1;medi...
3852    4412  related-1;request-1;offer-0;aid_related-1;medi...
4629    5265  related-2;request-0;offer-0;aid_related-0;medi...
4630    5265  related-2;request-0;offer-0;aid_related-0;medi...
4892    5573  related-0;request-0;offer-0;aid_related-0;medi...
4893    5573  related-0;request-0;offer-0;aid_related-0;medi...
4950    5643  related-1;request-1;offer-0;aid_related-1;medi...
4951    5643  related-1;request-1;offer-0;aid_related-1;medi...
5557    6327  related-2;request-0;offer-0;aid_related-0;medi...
5558    6327  related-2;request-0;offer-0;aid_related-0;medi...
5771    6573  related-1;request-1;offer-0;aid_related-1;medi...
5772    6573  related-1;request-1;offer-0;aid_related-1;medi...
6982    7892  related-1;request-0;offer-0;aid_related-0;medi...
6983    7892  related-1;request-0;offer-0;aid_related-0;medi...
8143    9131  related-0;request-0;offer-0;aid_related-0;medi...
8144    9131  related-0;request-0;offer-0;aid_related-0;medi...
10961  12589  related-1;request-0;offer-1;aid_related-1;medi...
10962  12589  related-1;request-0;offer-1;aid_related-1;medi...
11356  13059  related-1;request-1;offer-0;aid_related-1;medi...
11357  13059  related-1;request-1;offer-0;aid_related-1;medi...
12138  14073  related-1;request-0;offer-0;aid_related-1;medi...
12139  14073  related-1;request-0;offer-0;aid_related-1;medi...
12201  14246  related-2;request-0;offer-0;aid_related-0;medi...
12202  14246  related-2;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
12749  15169  related-1;request-0;offer-0;aid_related-0;medi...
13061  15576  related-1;request-0;offer-0;aid_related-1;medi...
13062  15576  related-1;request-0;offer-0;aid_related-1;medi...
13370  15938  related-1;request-0;offer-0;aid_related-0;medi...
13371  15938  related-1;request-0;offer-0;aid_related-0;medi...
14403  17079  related-1;request-0;offer-0;aid_related-1;medi...
14404  17079  related-1;request-0;offer-0;aid_related-1;medi...
14849  17569  related-1;request-0;offer-0;aid_related-1;medi...
14850  17569  related-1;request-0;offer-0;aid_related-1;medi...
15168  17919  related-1;request-0;offer-0;aid_related-1;medi...
15169  17919  related-1;request-0;offer-0;aid_related-1;medi...
15535  18313  related-1;request-0;offer-0;aid_related-0;medi...
15536  18313  related-1;request-0;offer-0;aid_related-0;medi...
18247  21338  related-0;request-0;offer-0;aid_related-0;medi...
18248  21338  related-0;request-0;offer-0;aid_related-0;medi...
18901  22059  related-1;request-1;offer-0;aid_related-1;medi...
18902  22059  related-1;request-1;offer-0;aid_related-1;medi...
19753  23002  related-1;request-0;offer-0;aid_related-1;medi...
19754  23002  related-1;request-0;offer-0;aid_related-1;medi...
19958  23229  related-1;request-0;offer-0;aid_related-1;medi...
19959  23229  related-1;request-0;offer-0;aid_related-1;medi...
21358  24779  related-1;request-0;offer-0;aid_related-1;medi...
21359  24779  related-1;request-0;offer-0;aid_related-1;medi...
21360  24779  related-1;request-0;offer-0;aid_related-1;medi...
23609  27296  related-1;request-0;offer-0;aid_related-0;medi...
23610  27296  related-1;request-0;offer-0;aid_related-0;medi...
24855  28687  related-1;request-0;offer-0;aid_related-1;medi...
24856  28687  related-1;request-0;offer-0;aid_related-1;medi...
25241  29119  related-1;request-0;offer-0;aid_related-1;medi...
25242  29119  related-1;request-0;offer-0;aid_related-1;medi...

[63 rows x 2 columns]

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [111]:
# merge datasets
df = messages.merge(categories, how='inner', on='id')
print(df.shape)
df.head()

(26386, 5)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [112]:
len(df[df.duplicated(keep=False)])

273

In [113]:
messages.drop_duplicates().shape, categories.drop_duplicates().shape, df.drop_duplicates().shape

((26180, 4), (26216, 2), (26216, 5))

In [114]:
messages.shape, categories.shape, df.shape

((26248, 4), (26248, 2), (26386, 5))

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [115]:
parsed_categories = df['categories'].str.split(';|-')
parsed_categories_df = parsed_categories.str[1::2].apply(pd.Series)
parsed_categories_df = parsed_categories_df.astype('int8')
parsed_categories_df.columns = parsed_categories.str[0::2].iloc[0]
parsed_categories_df

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1,1,0,1,1,1,0,0,0,0,...,0,1,1,1,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,1,1,0,1,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
28,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26356,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26357,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26358,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26361,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26362,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26363,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26364,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
26365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26366,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26367,1,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26368,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26369,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26371,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26372,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26373,1,0,0,1,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26375,1,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26376,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26377,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26378,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26380,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26383,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26384,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26385,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
parsed_categories_df.apply(pd.value_counts).T

                              0        1      2
related                  6140.0  20042.0  204.0
request                 21873.0   4513.0    NaN
offer                   26265.0    121.0    NaN
aid_related             15432.0  10954.0    NaN
medical_help            24287.0   2099.0    NaN
medical_products        25067.0   1319.0    NaN
search_and_rescue       25661.0    725.0    NaN
security                25915.0    471.0    NaN
military                25523.0    863.0    NaN
child_alone             26386.0      NaN    NaN
water                   24702.0   1684.0    NaN
food                    23430.0   2956.0    NaN
shelter                 24044.0   2342.0    NaN
clothing                25976.0    410.0    NaN
money                   25780.0    606.0    NaN
missing_people          26085.0    301.0    NaN
refugees                25506.0    880.0    NaN
death                   25182.0   1204.0    NaN
other_aid               22922.0   3464.0    NaN
infrastructure_related  24677.0   1709.0    NaN
transport               25174.0   1212.0    NaN
buildings               25041.0   1345.0    NaN
electricity             25848.0    538.0    NaN
tools                   26227.0    159.0    NaN
hospitals               26103.0    283.0    NaN
shops                   26266.0    120.0    NaN
aid_centers             26077.0    309.0    NaN
other_infrastructure    25231.0   1155.0    NaN
weather_related         19043.0   7343.0    NaN
floods                  24209.0   2177.0    NaN
storm                   23922.0   2464.0    NaN
fire                    26104.0    282.0    NaN
earthquake              23925.0   2461.0    NaN
cold                    25853.0    533.0    NaN
other_weather           25007.0   1379.0    NaN
direct_report           21273.0   5113.0    NaN

# create a dataframe of the 36 individual category columns
categories = 
categories.head()

# select the first row of the categories dataframe
row = 

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = 
print(category_colnames)

# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

for column in categories:
    # set each value to be the last character of the string
    categories[column] = 
    
    # convert column from string to numeric
    categories[column] = 
categories.head()

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [117]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [118]:
# concatenate the original dataframe with the new `categories` dataframe
print(df.shape, parsed_categories_df.shape)

df = pd.concat([df, parsed_categories_df], axis=1)
print(df.shape)

df.head()

(26386, 4) (26386, 36)
(26386, 40)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [119]:
# check number of duplicates
df.shape, df.duplicated().sum()

((26386, 40), 170)

In [120]:
# drop duplicates
df = df.drop_duplicates()
df.shape

(26216, 40)

In [121]:
# check number of duplicates
df.shape, df.duplicated().sum()

((26216, 40), 0)

### Select data

In [122]:
df[df['related'].isin([0, 2])].loc[:, 'request':].sum(axis=1).value_counts()

0    6310
dtype: int64

In [123]:
df[df['related'] == 1].loc[:, 'request':].sum(axis=1).value_counts()

0     5121
2     3609
4     2956
3     2276
5     1903
6     1347
7      880
8      577
1      443
9      344
10     183
11     107
12      57
13      38
14      20
16      12
15       8
17       7
18       5
19       4
20       4
26       2
21       2
23       1
dtype: int64

In [134]:
related_map = {0: 0, 1: 1, 2: 0}

df['related'] = df['related'].map(related_map).astype('int8')
df.loc[:, 'related':].apply(pd.value_counts).T

                              0        1
related                  6310.0  19906.0
request                 21742.0   4474.0
offer                   26098.0    118.0
aid_related             15356.0  10860.0
medical_help            24132.0   2084.0
medical_products        24903.0   1313.0
search_and_rescue       25492.0    724.0
security                25745.0    471.0
military                25356.0    860.0
child_alone             26216.0      NaN
water                   24544.0   1672.0
food                    23293.0   2923.0
shelter                 23902.0   2314.0
clothing                25811.0    405.0
money                   25612.0    604.0
missing_people          25918.0    298.0
refugees                25341.0    875.0
death                   25022.0   1194.0
other_aid               22770.0   3446.0
infrastructure_related  24511.0   1705.0
transport               25015.0   1201.0
buildings               24883.0   1333.0
electricity             25684.0    532.0
tools                   26057.0    159.0
hospitals               25933.0    283.0
shops                   26096.0    120.0
aid_centers             25907.0    309.0
other_infrastructure    25065.0   1151.0
weather_related         18919.0   7297.0
floods                  24061.0   2155.0
storm                   23773.0   2443.0
fire                    25934.0    282.0
earthquake              23761.0   2455.0
cold                    25686.0    530.0
other_weather           24840.0   1376.0
direct_report           21141.0   5075.0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [135]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('DisasterData', engine, if_exists='replace', index=False)

In [136]:
df.shape, pd.read_sql_table('DisasterData', engine).shape

((26216, 40), (26216, 40))

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.